:root {
  --primary-text-color: #212121;
  --extra-text-color: #757575;
  --title-text-color: #000000;
  --accent-color: #2196f3;
  --extra-background-color: #2f303a;
  --extra-title-color: #ffffff;
}

/* фон #E5E5E5 */

body {
  background-color: #e5e5e5;
  font-family: Roboto;
}
/* site nav */
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.logo-web {
  color: var(--accent-color);
}
.site-nav .link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.auth .link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--extra-text-color);
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
.list {
  list-style: none;
}
.site-nav .link.current {
  color: var(--accent-color);
}

/* hero */
.hero {
  background-color: var(--extra-background-color);
}
.hero-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--extra-title-color);
}
.button {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--extra-title-color);
  background-color: var(--accent-color);
}
/* features */
.features-list .title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.features-list .text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--extra-text-color);
}

/* sections */
.section-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.section-list .title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.section-list .text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--extra-text-color);
}

/* footer */
footer {
  background-color: var(--extra-background-color);
}
.footer-auth .link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.logo.footer {
  color: var(--extra-title-color);
}
.address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--extra-title-color);
}
